/* 
    Feuille de Style pour TP1
    Clovis Gauthier
    Hiver 2023 
*/

/* Normalisation supplémentaire 
=============================================== */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importation des Polices
=============================================== */
@font-face {
    font-family: FiraSansLight;
    src: url(../polices/Fira_Sans/FiraSans-ExtraLight.ttf);
}

@font-face {
    font-family: FiraSansBold;
    src: url(../polices/Fira_Sans/FiraSans-Medium.ttf);
}

@font-face {
    font-family: FiraSansBoldItalic;
    src: url(../polices/Fira_Sans/FiraSans-BoldItalic.ttf);
}

/* Mise en page de base
=============================================== */
html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: FiraSansLight;
    font-size: clamp(0.5rem, 0.5rem + 2.5vw, 1rem);
    color: white;
    text-align: justify;
}

body {
    background-color: black;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

a {
    text-decoration: none;
    color: white;
}

/* Logo
=============================================== */
header {
    display: flex;
    flex-direction: row;
}

.icone-logo {
    position: absolute;
    z-index: 2;
    top: 0.5vh;
    left: 2vh;
    font-size: 4rem;
    color: black;
}

/* Barre de Navigation : Div
=============================================== */
#barre>.conteneur-bouton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* z-index: 1; */
    background-color: white;
    color: black;
    height: 5rem;
    width: 100vw;
}

/* Le conteneur du bouton */
.conteneur-bouton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

/* Les lignes constituants le bouton */
.ligne {
    width: 50px;
    height: 7px;
    background-color: black;
    margin: 5px;
    cursor: pointer;
    /* Effet de transition */
    transition: rotate 500ms, translate 500ms, opacity 500ms;
}

/* Animation du bouton */
#cc-menu:checked+.conteneur-bouton label .ligne1 {
    rotate: 45deg;
    translate: 0 170%;
}

#cc-menu:checked+.conteneur-bouton label .ligne2 {
    opacity: 0;
}

#cc-menu:checked+.conteneur-bouton label .ligne3 {
    rotate: -45deg;
    translate: 0 -170%;
    border: none;
    /*pour enlever bordure blanche*/

}

#cc-menu {
    display: none;
}

/* Navigation
=============================================== */
nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    row-gap: 2vh;
    font-size: 2rem;
    background-color: black;

    /* Styles pour la transition */
    opacity: 0.75;
    translate: 100% 0;
    transition: translate 600ms;
    transition-timing-function: ease-out;
}

/* Les items du menu */
nav>a {
    align-self: stretch;
    padding-left: 35%;
    border-radius: 5px;
    color: white;
    /* Transition de hover; */
    transition: background-color 400ms;
}

a:hover {
    font-family: FiraSansBold;
    background-color: grey;
}

#cc-menu:checked~nav {
    translate: 0 0;
}

/* Contenu principal: main
=============================================== */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fondVelo_petit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* Pour empêcher le défilement de l'image de fond */
    background-attachment: fixed;
}

section {
    display: flex;
}

/* Accueil
=============================================== */
#accueil {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 40vh;
    margin-bottom: 60vh;
}

/* Animation du Titre */
@keyframes animation-titre {
    /* Entrée par la gauche puis clignotement du soulignage */
    from {
        opacity: 0;
        translate: -350%;
        font-family: FiraSansBoldItalic;
    }
    5% {
        rotate: 0deg;
        /* translate: -30% -0px ; */
    }
    10% {
        translate: 15% 0px;
        rotate: 45deg;
    }
    20% {
        translate: 0;
        rotate: 52deg;
    }

    40% {
        text-decoration: none;
        rotate: 0deg;
    }
    50% {
        text-decoration: underline;
    }
    60% {
        text-decoration: none;
        font-family: FiraSansBold;
    }
    70% {
        text-decoration: underline;
    }
    to {
        text-decoration: none;
    }
}

#accueil h1 {
    color: white;
    font-family: FiraSansBold;
    animation: animation-titre 5s ease-out 3s 1;
    transform-origin: 100% 80%;
}

/* Texte */
p {
    color: white;
}

/* Structure
=============================================== */
#structure {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
}

/* Classe des éléments qui apparaissent en défilant la page */
.apparition {
    height: 70vh;
    width: 90vw;
    transition: opacity 800ms;
}

/* C'est compliqué d'aligner les traits avec tout les médias, alors j'ai utilisé le Iphone 12 Pro comme modèle */
.trait-mobile {
    position: absolute;
    border: 1px white solid;
    width: 100px;
}

.trait-tablette {
    display: none;
}

/* Positionnement du texte */
.apparition p {
    /* Pour éviter que ça déborde */
    width: fit-content;
}

.apparition p:nth-child(2) {
    translate: 10px 300px;
}

.apparition p:nth-child(4) {
    translate: 160px 420px;
}

.apparition p:nth-child(6) {
    translate: 140px 130px;
}

/* Positionnement des Traits */
.traitRoue {
    rotate: 45deg;
    translate: 40px 340px;
}

.traitFreins {
    width: 30px;
    rotate: -45deg;
    translate: 190px 380px;
}

.traitGuidon {
    width: 70px;
    rotate: 80deg;
    translate: 140px 180px;
}

/* Animation du petit cycliste */
@keyframes animation-bouger-cycliste {
    from {
        translate: -15vw 0;
    }

    to {
        translate: 100vw;
    }
}

@keyframes animation-sprite-cycliste {
    from {
        background-position: 0;
    }

    to {
        background-position: -600%;
    }
}

.deplacementVelo {
    width: fit-content;
    animation: animation-bouger-cycliste 5s linear infinite;
    overflow: hidden;
}

.spriteVelo {
    background-image: url(../images/Excitebike_Sprites.png);
    width: 23px;
    height: 24px;
    animation: animation-sprite-cycliste steps(6) 5s infinite;
}

/* Circuit
=============================================== */
#epreuve {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#epreuve>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

/* Espacement entre les éléments */
#epreuve p:first-of-type,
#epreuve p:nth-of-type(2),
#epreuve span,
#epreuve p:last-of-type {
    margin-bottom: 9vh;
}

/* Dimensions de l'image du circuit */
img {
    width: 80vw;
    height: 15vh;
    background-color: white;
    padding: 5vw;
    border-radius: 10px;
}

/* Animation du Chronomètre */
@keyframes animation-chronometre {
    from {
        scale: 1;
        rotate: 0deg;
    }

    20% {
        rotate: -25;
    }

    30% {
        rotate: 25deg;
    }

    40% {
        scale: 3;
        rotate: -25deg;
    }

    50% {
        scale: 3;
        rotate: 25deg;
    }

    60% {
        scale: 3;
        rotate: -25deg;
    }

    70% {
        rotate: 25deg;
    }

    80% {
        rotate: -25;
    }

    to {
        scale: 1;
        rotate: 0deg;
    }
}

#epreuve span {
    animation: animation-chronometre 2s 5s ease-out infinite;
}

/* Effet de survol du chronomètre */
#epreuve span:hover {
    animation: none;
    color: grey;
    scale: 3;
}

#epreuve p:last-of-type {
    opacity: 0;
    translate: 0 -100%;
    transition: translate 750ms, opacity 750ms;
}

#epreuve span:hover+p {
    opacity: 1;
    translate: unset;
}

/* Catalogue
=============================================== */
#catalogue {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
/* Animation du Diaporama */
@keyframes animation-diaporama {
    from {
        background-position: 0px 0;
    }
    to {
        background-position: -1802px 0;
    }
}
.diaporama {
    height: 486px;
    width: 90vw;
    border: 2px solid white;
    border-radius: 10px;
    background-image: url(../images/diaporama.jpg);
    background-position: left 0px;
    /* animation */
    animation: animation-diaporama linear 25s infinite; 
}

#catalogue p {
    margin-bottom: 5vh;
}

/* Footer
=============================================== */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}

h4 {
    margin-bottom: 1vh;
}

footer a {
    font-size: 12px;
    margin: 2vw;
    /* padding: 15px; */
}

footer a:hover {
    font-family: FiraSansLight;
    text-decoration: underline;
}

/* Requêtes Médias: Tablette 768px minimum
    (média utilisé: Ipad Air)
=============================================== */
@media screen and (min-width: 768px) {
    /* Changement de vitesse de l'animation */
    .deplacementVelo {
        animation: animation-bouger-cycliste 15s linear infinite;
    }
    
    /* Retrait du Bouton Burger */
    label {
        display: none;
    }

    /* Réajustement du menu */
    nav {
        position: absolute;
        transition: none;
        z-index: 3;
        translate: 0 -100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: unset;
        opacity: 1;
        font-size: 2rem;
        height: fit-content;
        row-gap: unset;
    }

    nav>a {
        padding: 10px;
        color: black;
    } 
    
    /* Réajustement des tailles de police */
    h1 {
        font-size: 4rem;
    }

    p, h4{
        font-size: 2rem;
    }

    footer a {
        font-size: 1.5rem;
    }
    
    .icone-logo {
        font-size: 4rem;
    }

    .icone-footer {
        /* opacity: 0; */
        font-size: 3rem;
    }

    /* Recadrage des Images */
    #epreuve img {
        width: 75vw;
        height: fit-content;
    }

    /* Fond Écran pour Tablette */
    main {
        background-image: url(../images/fondVelo_moyen.jpg);
        /* background-position: -300px 450px; */
        background-position: center center;
    }

    .diaporama {
        background-image: url(../images/diaporama_moyen.jpg);
        height: 972px;
    }

}
    @media screen and (min-width: 992px) {
    /* Ajustments */
    nav {
        justify-content: center;
        column-gap: 2vw;
    }

    #epreuve {
        height: 100vh;
        margin-bottom: 50vh;
    }

    .deplacementVelo {
        animation: animation-bouger-cycliste 15s linear infinite;
    }

    /* Repositionnement du texte qui apparait **Alignement fait sur mon laptop*/
    .apparition p:nth-child(2) {
        translate: 400px 350px;
    }

    .apparition p:nth-child(4) {
        translate: 700px 420px;
    }

    .apparition p:nth-child(6) {
        translate: 450px 130px;
    }

    /* Améliorer la lisibilité des titres */
    h1 {
        /* background-color: rgba(255, 255, 255, 0.9); */
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    /* Recadrage des images */

    #epreuve img {
        width: 60vw;
    }

    #catalogue {
        height: 135vh; /*Pour faire rentrer le diaporama*/
    }

    .diaporama {
        height: 80vh;
    }
}